/* General styles */
html {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
	background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

header {
	text-align: center;
}

header img{
    width: 50%;
    margin-top: -3em;
}

.dark{
    padding-top: 10em;
}

footer {
    text-align: center;
}

/* Search Bar Styles */
#myInput {
    background-image: url('img/search.png'); /* Add a search icon to input */
    background-position: 8px 6px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

/* Table Styles */
table{
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

tr:hover {
    background-color: rgb(219, 255, 255);
}

th {
    background-color: #047a8a;
    color: white;
    font-size: x-large;
    border: 1px solid black;
}
td {
    font-size: larger;
    text-align: center;
    border: 1px solid black;
    border-style: outset;
}